# Genreated files
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Temp lock file
/.hugo_build.lock

# cloudflare wrangler
/.wrangler/
/wrangler.toml
/node_modules/
/assets/css/compiled/
